{% extends 'base/base.html' %}
{% load static %}
{% block title %}Log in{% endblock %}

{% block content %}
    <main>
        <h1 style="margin: auto;text-align: center;">Login</h1>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <label for="phone_number">Phone Number:</label><br>
            <input type="text" id="phone_number" name="phone_number"><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" value="Login">
        </form>
        <p><a href="{% url 'UserApp:registration' %}">Sign Up</a></p>
    </main>
{% endblock %}
