{% load static %}

<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>ایمیل</h3>
            <p>snappfood@gmail.com</p>
        </div>
        <div class="footer-section">
            <h3>درباره ما</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="footer-section">
            <h3>پشتیبانی</h3>
            <p>support.snappfood@gmail.com</p>
        </div>
        <p>
            <i class="fab fa-instagram"></i> Instagram: @snapp_food<br>
            <i class="fas fa-phone"></i> Phone: +1234567890
        </p>
    </div>
    <div class="footer-bottom">
        <p>&copy;تمامی حقوق محفوظ است.</p>
    </div>
</footer>